<div>
  <p style="color: green"><%= notice %></p>
  <div class="title-container">
    <h3>Articles</h3>
    <div>
      <span class="material-symbols-outlined">
        add
      </span>
      <%= link_to "Create Article", new_article_path, class: "btn btn-primary btn-custom" %>
    </div>
  </div>
</div>
<section id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <div class="division-container">
      <p>
        <%= link_to "Continue Reading", article %>
      </p>
      <div class="division-line"></div>
    </div>
  <% end %>
</section>
