<section>
  <p style="color: green"><%= notice %></p>
  <div class="buttons-container">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-custom" %>
    <%= button_to "Delete", @article, method: :delete, class: "btn btn-primary btn-custom-delete" %>
  </div>
  <%= render @article %>
</section>
