<nav class="navbar">
  <h4><%= link_to "LuhLuhDev Blog", root_path, class: "navbar-brand" %></h4>
  <% if current_page?(root_url) %>
    <%= link_to "Create Article", new_blog_path, class: "btn btn-hipster" %>
  <% end %>
</nav>
