/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.navbar-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
  background-color: var(--primary-400);
  padding: 1rem;
  color: var(--grey-100);
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-custom {
  color: var(--white);
  background-color: var(--primary-400);
  border: none;
}

.btn-custom:hover {
  background-color: var(--primary-500);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.article-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}

.article-secondary-text {
  color: var(--grey-500);
}

.article-image {
  height: 15rem;
  border-radius: 1rem;
}

.article-tag {
  display: block;
  border-radius: 1rem;
  padding: 0 0.75rem;
  background-color: var(--grey-200);
  font-size: var(--small-text);
}

.division-line {
  height: 1px;
  width: 100%;
  background-color: var(--grey-300);
}

.division-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}
