/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* colors */
  --primary-100: #b3e5ff;
  --primary-200: #81d4ff;
  --primary-300: #4cc3fe;
  --primary-400: #24b6fe;
  --primary-500: #00a9fd;
  --primary-600: #069bee;
  --primary-700: #0c87d9;
  --primary-800: #0b76c5;
  --primary-900: #0d56a2;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #ad3e47;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --regular-text: 1.15rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: #161a1d;
  --textColor: var(--grey-900);
  --link: var(--primary-500);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  margin: auto;
  width: 75vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background: var(--backgroundColor);
  color: var(--white);
  margin-top: 2rem;
}

p {
  font-size: var(--regular-text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
  padding: 0;
  font-family: var(--headingFont);
  line-height: 1.25;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link);
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-size: small;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
  text-decoration: none;
}
.btn-primary-anchor {
  color: var(--white);
  text-decoration: none;
}
.btn-hipster {
  border: 1px solid var(--primary-500);
  color: var(--primary-500);

  background: transparent;
}
.btn-hipster:hover {
  color: var(--white);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

.btn-danger {
  background: var(--red-light);
}

.btn-danger:hover {
  background: var(--red-dark);
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation-name: fadeOut;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 2;
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
}
/* alert */

/* form */
.form {
  width: 90vw;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem 0;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.navbar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.navbar-brand:hover {
  text-decoration: none;
}

.articles-container {
  display: flex;
  flex-direction: column-reverse;
}

.article-container {
  margin: 1.25rem 0;
}

.article-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.article-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

.article-preview-container {
  display: flex;
  flex-direction: column;
}

.article-title {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  font-weight: 600;
  color: var(--white);
}

.article-minute-read {
  width: fit-content;
  background-color: var(--grey-500);
  border-radius: var(--borderRadius);
  color: var(--grey-200);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.article-time {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--grey-500);
}

.article-link {
  color: var(--link);
}
